.dropdown-container select{
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 1em;
  color: #F4F4F4;
  background-color: #373737;
  border-radius: 4px;
}

.dropdown-container option{

}
