.header-holder {
  margin: 0 2.618% 0 2.618%;
}

.title {
  text-align: center;
}

.header-holder a {
  color: black;
  text-decoration: none;
}

.header-holder h1 {
  font-size: 3em;

}

.header-holder span {
  color: #C0B283;
}
