.header-holder {
  height: 12%;
  background-color: #373737;
  padding: 0 2.618% 0 2.618%;
}

.title {
  text-align: center;
}

.header-holder a {
  color: #373737;
  text-decoration: none;
}

.header-holder h1 {
  font-size: 4em;
  color: #F4F4F4;
  transition: color 0.2s;
}

.header-holder h1:hover {
  color: #C0B283;
  transition: color 0.3s;
}

.header-holder span {
  color: #C0B283;
}

.about-page {
  float: right;
  color: #F4F4F4;
  trainsition: color, .2s;
}

.about-page:hover {
  color: #C0B283;
  cursor: pointer;
  trainsition: color, .3s;
}
