@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Andada|Permanent+Marker|Raleway:300');
* {
 box-sizing: border-box;
}

input {
 font-family: 'Indie Flower', cursive;
}

#guess input {
  border: 0;
  width: 100%;
  font-size: 2em;
  height: 2em;
  text-align: center;
  margin: 5px 0 0 0;
  color: #C0B283;
  outline: 0;
  border-bottom: 3px solid #373737;
}
