.gamehistory-link {
  text-align: center;
}
.game-drawing {

}
.drawingDiv {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 400px;
  height: 300px;
  margin: 30px, 0px;
  border: solid 5px #373737;
  border-radius: 4px;
}
.testing {

}
.historyPreview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.historyPreview img{
  border: none;
}
