// Pen CSS only
.loader-pencil-content  {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.loader-pencil-content h1{
  color: #C0B283;
  font-size: 5em;
}

.btn {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 1rem;
  width: 160px;
}

// loader CSS
svg#loader-pencil {
  fill: #373737;
  width: 80px;
}

#line {
  animation: linePencil .8s infinite linear;
}

@keyframes linePencil {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150px);
  }
}
