@import url('https://fonts.googleapis.com/css?family=Bungee');

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-column-center{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
