.flex{
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-around {
  justify-content: space-between;
  align-items: center;
}

.flex-column{
  flex-direction: column;
}

.flex-column-center{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-height {
  height:100%;
}
