html, body {
  height: 100%;
  margin: 0;
}

h1 {
  color: #373737;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  display: inline;
}
img {
  border: solid 5px #373737;
  border-radius: 4px;
}

p {
  color: #373737;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#root {
  height: 100%;
}
